# Фреймворк для графа и агентов
langgraph
langchain
langchain-core
langchain-openai
langchain-community

# Инструменты и типизация
pydantic
python-dotenv

# Работа с базой данных и аналитика
# sqlite3 не пишем (встроено в Python)
pandas